In [77]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import *

In [78]:
train_df = pd.read_csv("Dataset/preprocessed_train.csv")
test_df = pd.read_csv("Dataset/preprocessed_test.csv")
pass_id = test_df["Passenger ID"]
train_df = train_df[["Gender","Age","Survived or not?"]]
test_df = test_df[["Gender","Age"]]

In [79]:
train_df

     Gender  Age  Survived or not?
0         1   22                 0
1         0   38                 1
2         0   26                 1
3         0   35                 1
4         1   35                 0
..      ...  ...               ...
886       1   27                 0
887       0   19                 1
888       0   30                 0
889       1   26                 1
890       1   32                 0

[891 rows x 3 columns]

In [80]:
test_df

     Gender  Age
0         1   34
1         0   47
2         1   62
3         1   27
4         0   22
..      ...  ...
413       1   30
414       0   39
415       1   38
416       1   30
417       1   30

[418 rows x 2 columns]

In [81]:
X_train = train_df.drop(["Survived or not?"],axis=1,inplace=False)
Y_train = train_df["Survived or not?"]

In [82]:
X_test = test_df.copy()

In [83]:
X_train

     Gender  Age
0         1   22
1         0   38
2         0   26
3         0   35
4         1   35
..      ...  ...
886       1   27
887       0   19
888       0   30
889       1   26
890       1   32

[891 rows x 2 columns]

In [84]:
Y_train

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived or not?, Length: 891, dtype: int64

In [85]:
X_test

     Gender  Age
0         1   34
1         0   47
2         1   62
3         1   27
4         0   22
..      ...  ...
413       1   30
414       0   39
415       1   38
416       1   30
417       1   30

[418 rows x 2 columns]

In [86]:
regr = RandomForestClassifier()
model = regr.fit(X_train,Y_train)
model

RandomForestClassifier()

In [87]:
Y_predict = pd.DataFrame(model.predict(X_test),columns=["Survived or not?"])
Y_predict

     Survived or not?
0                   0
1                   1
2                   0
3                   0
4                   1
..                ...
413                 0
414                 1
415                 0
416                 0
417                 0

[418 rows x 1 columns]

In [88]:
test_data = X_test.copy()
test_data["Survived or not?"] = Y_predict["Survived or not?"]
test_data

     Gender  Age  Survived or not?
0         1   34                 0
1         0   47                 1
2         1   62                 0
3         1   27                 0
4         0   22                 1
..      ...  ...               ...
413       1   30                 0
414       0   39                 1
415       1   38                 0
416       1   30                 0
417       1   30                 0

[418 rows x 3 columns]

In [89]:
print(test_data["Survived or not?"][test_data["Gender"]==0].sum()*100/test_data["Survived or not?"].sum())
print(test_data["Survived or not?"][test_data["Gender"]==1].sum()*100/test_data["Survived or not?"].sum())

91.0958904109589
8.904109589041095

In [90]:
print(train_df["Survived or not?"][train_df["Gender"]==0].sum()*100/train_df["Survived or not?"].sum())
print(train_df["Survived or not?"][train_df["Gender"]==1].sum()*100/train_df["Survived or not?"].sum())

68.12865497076024
31.871345029239766

In [91]:
pp = model.feature_importances_
pp

array([0.58445031, 0.41554969])

In [92]:
model.feature_names_in_

array(['Gender', 'Age'], dtype=object)

In [93]:
Y_train_predict = pd.DataFrame(model.predict(X_train),columns=["Survived or not?"])
accuracy_score(Y_train,Y_train_predict)

0.8170594837261503

In [94]:
precision_score(Y_train,Y_train_predict)

0.7859424920127795

In [95]:
f1_score(Y_train,Y_train_predict)

0.7511450381679389

In [96]:
test_total2 = pd.DataFrame(columns=["PassengerId","Survived"])
test_total2["PassengerId"] = pass_id
test_total2["Survived"] = (Y_predict["Survived or not?"].round()).astype("int64")
test_total2

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [97]:
test_total2.to_csv("Dataset/gender_submission3.csv",index=False)