In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import OneHotEncoder
from sklearn.svm import LinearSVC,SVC

In [6]:
train_df = pd.read_csv("Dataset/preprocessed_train.csv")
test_df = pd.read_csv("Dataset/preprocessed_test.csv")
train_df.drop("Unnamed: 0",axis=1,inplace=True)
test_df.drop("Unnamed: 0",axis=1,inplace=True)

In [7]:
train_df

,Passenger ID,Ticket Class 1,Ticket Class 2,Gender,Age,No of siblings/spouses aboard,No of parents/children aboard,Survived or not?
0,1,0,0,1,22.0,1,0,0
1,2,1,0,0,38.0,1,0,1
2,3,0,0,0,26.0,0,0,1
3,4,1,0,0,35.0,1,0,1
4,5,0,0,1,35.0,0,0,0
...,...,...,...,...,...,...,...,...
886,887,0,1,1,27.0,0,0,0
887,888,1,0,0,19.0,0,0,1
888,889,0,0,0,28.0,1,2,0
889,890,1,0,1,26.0,0,0,1
890,891,0,0,1,32.0,0,0,0

In [8]:
test_df

,Passenger ID,Ticket Class 1,Ticket Class 2,Gender,Age,No of siblings/spouses aboard,No of parents/children aboard
0,892,0,0,1,34.5,0,0
1,893,0,0,0,47.0,1,0
2,894,0,1,1,62.0,0,0
3,895,0,0,1,27.0,0,0
4,896,0,0,0,22.0,1,1
...,...,...,...,...,...,...,...
413,1305,0,0,1,28.0,0,0
414,1306,1,0,0,39.0,0,0
415,1307,0,0,1,38.5,0,0
416,1308,0,0,1,28.0,0,0
417,1309,0,0,1,28.0,1,1

In [9]:
X_train = train_df.drop("Survived or not?",axis=1,inplace=False)
Y_train = train_df["Survived or not?"]

In [ ]:
regr = LinearSVC()