In [164]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import OneHotEncoder
from sklearn.svm import LinearSVC,SVC
from sklearn.metrics import *

In [39]:
train_df = pd.read_csv("Dataset/preprocessed_train.csv")
test_df = pd.read_csv("Dataset/preprocessed_test.csv")
train_df.drop("Unnamed: 0",axis=1,inplace=True)
test_df.drop("Unnamed: 0",axis=1,inplace=True)

In [40]:
train_df

,Passenger ID,Ticket Class 1,Ticket Class 2,Gender,Age,No of siblings/spouses aboard,No of parents/children aboard,Survived or not?
0,1,0,0,1,22.0,1,0,0
1,2,1,0,0,38.0,1,0,1
2,3,0,0,0,26.0,0,0,1
3,4,1,0,0,35.0,1,0,1
4,5,0,0,1,35.0,0,0,0
...,...,...,...,...,...,...,...,...
886,887,0,1,1,27.0,0,0,0
887,888,1,0,0,19.0,0,0,1
888,889,0,0,0,28.0,1,2,0
889,890,1,0,1,26.0,0,0,1
890,891,0,0,1,32.0,0,0,0

In [41]:
test_df

,Passenger ID,Ticket Class 1,Ticket Class 2,Gender,Age,No of siblings/spouses aboard,No of parents/children aboard
0,892,0,0,1,34.5,0,0
1,893,0,0,0,47.0,1,0
2,894,0,1,1,62.0,0,0
3,895,0,0,1,27.0,0,0
4,896,0,0,0,22.0,1,1
...,...,...,...,...,...,...,...
413,1305,0,0,1,28.0,0,0
414,1306,1,0,0,39.0,0,0
415,1307,0,0,1,38.5,0,0
416,1308,0,0,1,28.0,0,0
417,1309,0,0,1,28.0,1,1

In [42]:
train_df["No of parents/children aboard"].max()

6

In [43]:
X_train = train_df.drop("Survived or not?",axis=1,inplace=False)
Y_train = train_df["Survived or not?"]

In [44]:
regr = LinearSVC(verbose=2,dual=False,random_state=0,tol=1e-6)
model = regr.fit(X_train,Y_train)
model

[LibLinear]

LinearSVC(dual=False, random_state=0, tol=1e-06, verbose=2)

In [45]:
model.n_features_in_

7

In [46]:
len(X_train.columns)

7

In [47]:
model.feature_names_in_

array(['Passenger ID', 'Ticket Class 1', 'Ticket Class 2', 'Gender',
       'Age', 'No of siblings/spouses aboard',
       'No of parents/children aboard'], dtype=object)

In [48]:
model.coef_

array([[ 3.24073962e-05,  7.65809814e-01,  3.73922921e-01,
        -1.04710238e+00, -1.30568379e-02, -1.08244553e-01,
        -3.22652566e-02]])

In [49]:
test_total1 = test_df.copy()
test_total1["Survived or not?"] = model.predict(test_df)
test_total1

,Passenger ID,Ticket Class 1,Ticket Class 2,Gender,Age,No of siblings/spouses aboard,No of parents/children aboard,Survived or not?
0,892,0,0,1,34.5,0,0,0
1,893,0,0,0,47.0,1,0,0
2,894,0,1,1,62.0,0,0,0
3,895,0,0,1,27.0,0,0,0
4,896,0,0,0,22.0,1,1,1
...,...,...,...,...,...,...,...,...
413,1305,0,0,1,28.0,0,0,0
414,1306,1,0,0,39.0,0,0,1
415,1307,0,0,1,38.5,0,0,0
416,1308,0,0,1,28.0,0,0,0
417,1309,0,0,1,28.0,1,1,0

In [55]:
print(test_total1["Survived or not?"][test_total1["Gender"]==0].sum()*100/test_total1["Survived or not?"].sum())
print(test_total1["Survived or not?"][test_total1["Gender"]==1].sum()*100/test_total1["Survived or not?"].sum())

92.99363057324841
7.006369426751593

In [56]:
print(train_df["Survived or not?"][train_df["Gender"]==0].sum()*100/train_df["Survived or not?"].sum())
print(train_df["Survived or not?"][train_df["Gender"]==1].sum()*100/train_df["Survived or not?"].sum())

68.12865497076024
31.871345029239766

In [57]:
from sklearn.naive_bayes import GaussianNB

In [58]:
regr1 = GaussianNB()
model = regr1.fit(X_train,Y_train)
model

GaussianNB()

In [59]:
Y_predict = model.predict(test_df)
Y_predict

array([0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0,
       1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1,
       1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1,
       1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1,
       0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0,
       0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0,
       1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0],
      dtype=int64)

In [60]:
test_total2 = test_df.copy()
test_total2["Survived or not?"] = model.predict(test_df)
test_total2

,Passenger ID,Ticket Class 1,Ticket Class 2,Gender,Age,No of siblings/spouses aboard,No of parents/children aboard,Survived or not?
0,892,0,0,1,34.5,0,0,0
1,893,0,0,0,47.0,1,0,1
2,894,0,1,1,62.0,0,0,0
3,895,0,0,1,27.0,0,0,0
4,896,0,0,0,22.0,1,1,1
...,...,...,...,...,...,...,...,...
413,1305,0,0,1,28.0,0,0,0
414,1306,1,0,0,39.0,0,0,1
415,1307,0,0,1,38.5,0,0,0
416,1308,0,0,1,28.0,0,0,0
417,1309,0,0,1,28.0,1,1,0

In [61]:
print(test_total2["Survived or not?"][test_total2["Gender"]==0].sum()*100/test_total2["Survived or not?"].sum())
print(test_total2["Survived or not?"][test_total2["Gender"]==1].sum()*100/test_total2["Survived or not?"].sum())

77.95698924731182
22.043010752688172

In [62]:
print(train_df["Survived or not?"][train_df["Gender"]==0].sum()*100/train_df["Survived or not?"].sum())
print(train_df["Survived or not?"][train_df["Gender"]==1].sum()*100/train_df["Survived or not?"].sum())

68.12865497076024
31.871345029239766

In [63]:
from sklearn.neighbors import KNeighborsClassifier

In [64]:
regr2 = KNeighborsClassifier()
model2 = regr2.fit(X_train,Y_train)
model2

KNeighborsClassifier()

In [65]:
Y_predict = model.predict(test_df)
test_total3 = test_df.copy()
test_total3["Survived or not?"] = model2.predict(test_df)
test_total3

,Passenger ID,Ticket Class 1,Ticket Class 2,Gender,Age,No of siblings/spouses aboard,No of parents/children aboard,Survived or not?
0,892,0,0,1,34.5,0,0,0
1,893,0,0,0,47.0,1,0,0
2,894,0,1,1,62.0,0,0,0
3,895,0,0,1,27.0,0,0,0
4,896,0,0,0,22.0,1,1,0
...,...,...,...,...,...,...,...,...
413,1305,0,0,1,28.0,0,0,0
414,1306,1,0,0,39.0,0,0,0
415,1307,0,0,1,38.5,0,0,0
416,1308,0,0,1,28.0,0,0,0
417,1309,0,0,1,28.0,1,1,0

In [66]:
print(test_total3["Survived or not?"][test_total3["Gender"]==0].sum()*100/test_total3["Survived or not?"].sum())
print(test_total3["Survived or not?"][test_total3["Gender"]==1].sum()*100/test_total3["Survived or not?"].sum())

nan
nan

C:\Users\asurasani001\AppData\Local\Temp\ipykernel_11168\1550508359.py:1: RuntimeWarning: invalid value encountered in longlong_scalars
  print(test_total3["Survived or not?"][test_total3["Gender"]==0].sum()*100/test_total3["Survived or not?"].sum())
C:\Users\asurasani001\AppData\Local\Temp\ipykernel_11168\1550508359.py:2: RuntimeWarning: invalid value encountered in longlong_scalars
  print(test_total3["Survived or not?"][test_total3["Gender"]==1].sum()*100/test_total3["Survived or not?"].sum())

In [67]:
print(train_df["Survived or not?"][train_df["Gender"]==0].sum()*100/train_df["Survived or not?"].sum())
print(train_df["Survived or not?"][train_df["Gender"]==1].sum()*100/train_df["Survived or not?"].sum())

68.12865497076024
31.871345029239766

In [186]:
from sklearn.pipeline import Pipeline
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import RandomForestClassifier

In [187]:
regr4 = RandomForestClassifier(min_samples_split=2)
model4 = regr4.fit(X_train,Y_train)
model4

RandomForestClassifier()

In [188]:
Y_predict = model4.predict(test_df)
test_total4 = test_df.copy()
test_total4["Survived or not?"] = model4.predict(test_df)
test_total4

,Passenger ID,Ticket Class 1,Ticket Class 2,Gender,Age,No of siblings/spouses aboard,No of parents/children aboard,Survived or not?
0,892,0,0,1,34.5,0,0,0
1,893,0,0,0,47.0,1,0,0
2,894,0,1,1,62.0,0,0,0
3,895,0,0,1,27.0,0,0,0
4,896,0,0,0,22.0,1,1,0
...,...,...,...,...,...,...,...,...
413,1305,0,0,1,28.0,0,0,0
414,1306,1,0,0,39.0,0,0,1
415,1307,0,0,1,38.5,0,0,0
416,1308,0,0,1,28.0,0,0,0
417,1309,0,0,1,28.0,1,1,1

In [189]:
print(test_total4["Survived or not?"][test_total4["Gender"]==0].sum()*100/test_total4["Survived or not?"].sum())
print(test_total4["Survived or not?"][test_total4["Gender"]==1].sum()*100/test_total4["Survived or not?"].sum())

68.21705426356588
31.782945736434108

In [190]:
print(train_df["Survived or not?"][train_df["Gender"]==0].sum()*100/train_df["Survived or not?"].sum())
print(train_df["Survived or not?"][train_df["Gender"]==1].sum()*100/train_df["Survived or not?"].sum())

68.12865497076024
31.871345029239766

In [191]:
model4.feature_names_in_

array(['Passenger ID', 'Ticket Class 1', 'Ticket Class 2', 'Gender',
       'Age', 'No of siblings/spouses aboard',
       'No of parents/children aboard'], dtype=object)

In [192]:
model4.n_outputs_

1

In [229]:
pp = model4.feature_importances_
pp

array([0.31637816, 0.07323493, 0.03179954, 0.26851968, 0.21837768,
       0.05127189, 0.04041812])

In [231]:
pp[pp>0.1].sum()*100

80.32755199752343

In [239]:
test_total6 = test_total4.drop(["Ticket Class 1","Ticket Class 2","No of siblings/spouses aboard","No of parents/children aboard","Survived or not?"],axis=1,inplace=False)
X_train_total6 = X_train.drop(["Ticket Class 1","Ticket Class 2","No of siblings/spouses aboard","No of parents/children aboard"],axis=1,inplace=False)
Y_train_total6 = Y_train.copy()

In [240]:
test_total6

     Passenger ID  Gender   Age
0             892       1  34.5
1             893       0  47.0
2             894       1  62.0
3             895       1  27.0
4             896       0  22.0
..            ...     ...   ...
413          1305       1  28.0
414          1306       0  39.0
415          1307       1  38.5
416          1308       1  28.0
417          1309       1  28.0

[418 rows x 3 columns]

In [241]:
regr6 = RandomForestClassifier(min_samples_split=2)
model6 = regr6.fit(X_train_total6,Y_train_total6)
model6

RandomForestClassifier()

In [248]:
with_Y = model6.predict(test_total6)
test_total6_with_y = test_total6.copy()
test_total6_with_y["Survived or not?"] = with_Y
with_Y = test_total6_with_y["Survived or not?"]

In [249]:
test_total6_with_y

     Passenger ID  Gender   Age  Survived or not?
0             892       1  34.5                 0
1             893       0  47.0                 0
2             894       1  62.0                 0
3             895       1  27.0                 0
4             896       0  22.0                 0
..            ...     ...   ...               ...
413          1305       1  28.0                 0
414          1306       0  39.0                 0
415          1307       1  38.5                 0
416          1308       1  28.0                 0
417          1309       1  28.0                 0

[418 rows x 4 columns]

In [250]:
with_Y

0      0
1      0
2      0
3      0
4      0
      ..
413    0
414    0
415    0
416    0
417    0
Name: Survived or not?, Length: 418, dtype: int64

In [251]:
print(test_total6_with_y["Survived or not?"][test_total6_with_y["Gender"]==0].sum()*100/test_total6_with_y["Survived or not?"].sum())
print(test_total6_with_y["Survived or not?"][test_total6_with_y["Gender"]==1].sum()*100/test_total6_with_y["Survived or not?"].sum())

72.72727272727273
27.272727272727273

In [204]:
precision_score(Y_train,Y_train_predict)

1.0

In [205]:
f1_score(Y_train,Y_train_predict)

1.0

In [223]:
test_total4

,Passenger ID,Ticket Class 1,Ticket Class 2,Gender,Age,No of siblings/spouses aboard,No of parents/children aboard,Survived or not?
0,892,0,0,1,34.5,0,0,0
1,893,0,0,0,47.0,1,0,0
2,894,0,1,1,62.0,0,0,0
3,895,0,0,1,27.0,0,0,0
4,896,0,0,0,22.0,1,1,0
...,...,...,...,...,...,...,...,...
413,1305,0,0,1,28.0,0,0,0
414,1306,1,0,0,39.0,0,0,1
415,1307,0,0,1,38.5,0,0,0
416,1308,0,0,1,28.0,0,0,0
417,1309,0,0,1,28.0,1,1,1

In [225]:
test_total5 = test_total4[["Passenger ID","Survived or not?"]]
test_total5

     Passenger ID  Survived or not?
0             892                 0
1             893                 0
2             894                 0
3             895                 0
4             896                 0
..            ...               ...
413          1305                 0
414          1306                 1
415          1307                 0
416          1308                 0
417          1309                 1

[418 rows x 2 columns]

In [226]:
test_total5.columns = ["PassengerId","Survived"]
test_total5

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         0
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         1

[418 rows x 2 columns]

In [227]:
test_total5.to_csv("Dataset/gender_submission2.csv",index=False)